.header .toolbar .toolbar-background {
    border-width: 0 !important;
}

.loginBox {
    background: linear-gradient(to bottom, #348ad6 20%, #48b0c9 100%);
}

.loginBox h3 {
    margin-top: 0;
}

.loginBox .loginBoxForm {
    margin: 11px;
    border-radius: 2px;
    width: calc(100% - 24px);
    box-shadow: none;
    padding-bottom: 8px;
}

.loginBox .loginBoxForm,
.loginBox .item {
    background: transparent;
}

.loginBox .loginBoxForm button {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-top: 16px;
    background: #2365a0;
}

.loginBox .loginBoxForm ion-item {
    padding-right: 16px;
}

.loginBox .loginBoxForm .item-inner input {
    color: #fff;
}

.loginBox .loginBoxForm .item-inner input::-webkit-input-placeholder {
    color: #75b5d1;
}

.list-ios>.item-block:first-child {
    border: none;
}

.loginBox .card {
    width: calc(100% - 24px);
    margin-left: 12px;
}

.login-news {
    padding: 0 0 0 12px;
}

.login-news .col {
    padding: 0;
}

.login-news .card {
    background: linear-gradient(to bottom right, #fff, #b5bfc7);
    width: calc(100% - 12px);
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.login-news .card .icon {
    font-size: 55px;
    color: #2365a0;
}

.login-news .card .card-title {
    padding: 5px 10px;
    text-align: center;
}

.note-news .col {
    padding-top: 0;
}

.note-news .card-content {
    padding-bottom: 0;
}

.note-news .col .note {
    line-height: 35px;
}

.info-card h2 {
    font-size: 15px;
}

agm-map {
    height: 240px;
}