//selected color
.tab-button {
    background: map-get($colors, primary);
}

.tab-button[aria-selected=true] {
    background: map-get($colors, primary-dark);
}

.tab-button .tab-button-icon {
    color: map-get($colors, fulllight) !important;
    font-size: 22px;
    margin-top: 7px;
}