//selected color
.tab-button {
    background: #348ad6;
}

.tab-button[aria-selected=true] {
    background: #2365a0;
}

.tab-button .tab-button-icon {
    color: #fff !important;
    font-size: 22px;
    margin-top: 7px;
}