.segment {
    padding: 12px;
}

.segment .segment-button {
    height: 2.8rem;
    line-height: 2.6rem;
}

h6 {
    margin-top: 0;
}

.card-title {
    color: #000;
}

chart {
    display: block;
    height: 200px;
}

chart.piechart {
    height: 350px;
}