 .scroll {
     padding: 10px 0 50px !important;
 }
 
 .messages {
     display: -webkit-box !important;
     display: -moz-box !important;
     display: -ms-flexbox !important;
     display: -webkit-flex !important;
     display: flex !important;
     -webkit-align-content: center !important;
     -ms-flex-line-pack: center !important;
     align-content: center !important;
     -webkit-box-align: center !important;
     -moz-box-align: center !important;
     -webkit-align-items: center !important;
     -ms-flex-align: center !important;
     align-items: center !important;
     margin-bottom: 20px !important;
     .message {
         -webkit-box-flex: 1 !important;
         -moz-box-flex: 1 !important;
         -webkit-flex: 1 1 auto !important;
         -ms-flex: 1 1 auto !important;
         flex: 1 1 auto !important;
         padding: 10px !important;
         -webkit-transition: all 250ms ease-in-out !important;
         transition: all 250ms ease-in-out !important;
         overflow: hidden !important;
         text-align: left !important;
         -webkit-transform: translate3d(0, 0, 0) !important;
         -moz-transform: translate3d(0, 0, 0) !important;
         transform: translate3d(0, 0, 0) !important;
     }
 }
 
 .time {
     -webkit-box-flex: 0 !important;
     -moz-box-flex: 0 !important;
     -webkit-flex: 0 1 auto !important;
     -ms-flex: 0 1 auto !important;
     flex: 0 1 auto !important;
     -webkit-align-self: auto !important;
     -ms-flex-item-align: auto !important;
     align-self: auto !important;
     width: 120px !important;
     text-align: center !important;
     padding: 0 0 0 0 !important;
     -webkit-transition: all 250ms ease-in-out !important;
     transition: all 250ms ease-in-out !important;
     -webkit-transform: translate3d(10px, 0, 0) !important;
     -moz-transform: translate3d(10px, 0, 0) !important;
     transform: translate3d(10px, 0, 0) !important;
     &.slide-right {
         -webkit-transform: translate3d(130px, 0, 0) !important;
         -moz-transform: translate3d(130px, 0, 0) !important;
         transform: translate3d(130px, 0, 0) !important;
     }
 }
 
 //This will change
 .messages.other {
     .message {
         -webkit-transform: translate3d(0, 0, 0) !important;
         -moz-transform: translate3d(0, 0, 0) !important;
         transform: translate3d(0, 0, 0) !important;
         text-align: right !important;
     }
     .message.slide-right {
         -webkit-transform: translate3d(120px, 0, 0) !important;
         -moz-transform: translate3d(120px, 0, 0) !important;
         transform: translate3d(120px, 0, 0) !important;
     }
     span {
         color: black !important;
         background-color: #C7C7CC !important;
     }
 }
 
 .chatbubble {
     background: map-get($colors, primary) !important;
     display: inline-block !important;
     color: white !important;
     padding: 10px !important;
     border-radius: 10px !important;
     text-align: left !important;
     max-width: 240px !important;
 }
 /* */
 
 .chatBubble {
     .userIcon {
         position: absolute;
         bottom: 8px;
         font-size: 32px;
         color: map-get($colors, primary);
     }
     img.profile-pic {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         position: absolute;
         bottom: 10px;
     }
     img.profile-pic.left {
         left: 10px;
     }
     img.profile-pic.right {
         right: 10px;
     }
     .message {
         font-size: medium;
         word-wrap: break-word;
         white-space: pre-wrap;
     }
     .message-detail {
         white-space: nowrap;
         font-size: 14px;
     }
     .chat-bubble {
         border-radius: 5px;
         display: inline-block;
         padding: 10px 18px;
         position: relative;
         margin: 10px;
     }
     .chat-bubble:before {
         content: "\00a0";
         display: block;
         height: 16px;
         width: 9px;
         position: absolute;
         bottom: -7.5px;
     }
     .chat-bubble.left {
         background-color: #ccc;
         float: left;
         margin-left: 25px;
     }
     .chat-bubble.left:before {
         background-color: #ccc;
         left: 10px;
         -webkit-transform: rotate(70deg) skew(5deg);
     }
     .chat-bubble.right {
         background-color: map-get($colors, primary-light);
         ;
         color: #000;
         float: right;
         margin-right: 25px;
     }
     .chat-bubble.right:before {
         background-color: map-get($colors, primary-light);
         ;
         right: 10px;
         -webkit-transform: rotate(118deg) skew(-5deg);
     }
     .chat-bubble.right a.autolinker {
         color: #000;
         font-weight: bold;
     }
 }
 
 .chatBubble.left .userIcon {
     left: 10px;
     color: grey;
 }
 
 .chatBubble.right .userIcon {
     right: 10px;
 }
 
 .char-avatar-blue {
     height: 50px;
     width: 50px;
     background: map-get($colors, primary);
     font-size: 30px;
     font-weight: bold;
     text-align: center;
     border-radius: 50%;
     padding-top: 6px;
 }
 
 .char-avatar-gray {
     height: 50px;
     width: 50px;
     background: #ccc;
     font-size: 30px;
     font-weight: bold;
     text-align: center;
     border-radius: 50%;
     padding-top: 6px;
 }
 
 @-webkit-keyframes slideInBothWays {
     0% {
         -webkit-transform: translate3d(-100%, 0, 0);
     }
     50% {
         -webkit-transform: translate3d(50%, 0, 0);
     }
     100% {
         -webkit-transform: translate3d(0, 0, 0);
     }
 }
 
 .slide-in-both-ways {
     -webkit-animation: slideInBothWays ease-in 1;
     animation: slideInBothWays ease-in 1;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     -webkit-animation-duration: 800ms;
     animation-duration: 800ms;
 }
 /*bounce*/
 
 @-webkit-keyframes bounce {
     0% {
         -webkit-transform: translate3d(0, 0, 0);
     }
     25% {
         -webkit-transform: translate3d(0, -30%, 0);
     }
     50% {
         -webkit-transform: translate3d(0, 0, 0);
     }
     75% {
         -webkit-transform: translate3d(0, -30%, 0);
     }
     100% {
         -webkit-transform: translate3d(0, 0, 0);
     }
 }
 
 .bounce-animation {
     -webkit-animation: bounce ease-in 1;
     animation: bounce ease-in 1;
     -webkit-animation-duration: 1000ms;
     animation-duration: 1000ms;
 }
 
 @-webkit-keyframes animateInPrimary {
     0% {
         -webkit-transform: translate3d(-100%, 0, 0);
     }
     100% {
         -webkit-transform: translate3d(0, 0, 0);
     }
 }
 
 @-webkit-keyframes animateInSecondary {
     0% {
         opacity: 0;
     }
     50% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 .animate-in-primary {
     -webkit-animation: animateInPrimary;
     animation: animateInPrimary;
     -webkit-animation-duration: 750ms;
     animation-duraton: 750ms;
 }
 
 .animate-in-secondary {
     -webkit-animation: animateInSecondary ease-in 1;
     animation: animateInSecondary ease-in 1;
     -webkit-animation-duration: 750ms;
     animation-duraton: 750ms;
 }